{% extends 'base.html' %} {% load static %} {% block content %}

<p>Edit Item</p>
<br />

<form action="{% url 'edit' data.id %}" method="POST">
  {% csrf_token %}
  <div class="mb-3">
    <label for="item-name" class="form-label">Item Name</label>
    <input
      name="name"
      type="text"
      class="form-control"
      id="item-name"
      value= "{{data.name}}"
      required
    />
    <label for="item-desc" class="form-label">Item Description</label>
    <input
      name="description"
      type="text"
      class="form-control"
      id="item-desc"
      value= "{{data.description}}"
      required
    />
    <label for="stock" class="form-label">Stock</label>
    <input
      name="stock"
      type="number"
      class="form-control"
      id="stock"
      value= {{data.stock}}
      min="0"
      required
    />
  </div>

  <br />

  <div>
    <button type="submit" class="btn btn-success">Confirm</button>
    <a href="{% url 'administrator' %}" class="btn btn-danger">Go back</a>
  </div>
</form>
{% endblock content %}
